@font-face {
    font-family: 'TheBoldFont';
    src: url('fonts/theboldfont.woff2') format('woff2'),
         url('fonts/theboldfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UndefinedMedium';
    src: url('fonts/undefined-medium.woff2') format('woff2'),
         url('fonts/undefined-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@media (){
  body{
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 13vw 13vh;
    background-position: 5.5vw 5.5vh;
    margin: 0px;
  }
}
@media (min-aspect-ratio: 13/9){*/
  body{
    /*
    overflow-x: hidden;
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 6vw 13vh;
    */
    /*
    overflow-x: hidden;
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 6vw 13vh;
    background-position: 2.25vw 5.5vh;
    margin: 0px;*/


    /* Experimental cross - 1
    background:
            /*radial-gradient(circle, transparent 20%, #202020 20%, #202020 80%, transparent 80%, transparent),
            radial-gradient(circle, transparent 20%, #202020 20%, #202020 80%, transparent 80%, transparent) 50px 50px,

            radial-gradient(circle, black 90%, green 90%, green 10%, transparent 10%) 1px 1px,
            linear-gradient(whitesmoke 2px, transparent 2px),
            linear-gradient(90deg, whitesmoke 2px, pink 2px),
            linear-gradient(180deg,transparent 98px, whitesmoke 2px);
    background-color: #202020;
    background-size:6vw 13vh;
    background-repeat: no-repeat;
    margin: 0px;

    */

    /*** Le fond d'écran qui s'adapte à la taille de celui-ci ***/
    background:
            linear-gradient(90deg, transparent 25% ,rgba(100, 100, 100, 0.3) 25%, rgba(100, 100, 100, 0.3) 26% , transparent 26%, transparent 50%, rgba(100, 100, 100, 0.3) 50%, rgba(100, 100, 100, 0.3) 51% , transparent 51%, transparent 75%, rgba(100, 100, 100, 0.3) 75%, rgba(100, 100, 100, 0.3) 76%, transparent 76%, transparent 99%, rgba(100, 100, 100, 0.3) 99%),
            linear-gradient(transparent 25% ,rgba(100, 100, 100, 0.3) 25%, rgba(100, 100, 100, 0.3) 26% , transparent 26%, transparent 50%, rgba(100, 100, 100, 0.3) 50%, rgba(100, 100, 100, 0.3) 51% , transparent 51%, transparent 75%, rgba(100, 100, 100, 0.3) 75%, rgba(100, 100, 100, 0.3) 76%, transparent 76%, transparent 99%, rgba(100, 100, 100, 0.3) 99%),
            linear-gradient(90deg, #2A2A33 44% ,transparent 44%, transparent 57% , #2A2A33 57%),
            linear-gradient(#2A2A33 44% ,transparent 44%, transparent 57% , #2A2A33 57%),
            linear-gradient(90deg, transparent 49% ,rgba(100, 100, 100, 0.2) 49%, rgba(100, 100, 100, 0.2) 52% , transparent 52%),
            linear-gradient(transparent 49% ,rgba(100, 100, 100, 0.2) 49%, rgba(100, 100, 100, 0.2) 52% , transparent 52%);
    background-color: #2A2A33;
    background-position: -2vw -2vw;
    /** La premiére colonne est à 2vw de l'écran, et chaque croix est séparée par 8vw**/
  }

body{
  background-size: 8vw 8vw;
}

body::-webkit-scrollbar {
    width:0.25rem;
  }

  body::-webkit-scrollbar-track{
    background:#202020;
  }
  body::-webkit-scrollbar-thumb{
    background: #292929;

  }

  /*** LE GROS TITRE QUI APPARAÎT AU TOUT DEBUT DU LANCEMENT ***/

  #grostitre{
    position:absolute;
    overflow:hidden;
    top:17.95vw;
    left:17.9vw;
    width:64.2vw;
    height:16.15vw;
    animation: grostitredisparition 0.5s ease 2s forwards;
    line-height: 16.2vw;
  }

  @keyframes grostitredisparition {
    100%{
      height:0;
    }

  }

  /*** -MON NOM AVEC LE SUPER EFFET STEREOSCOPIQUE POUR LA NAVBAR ET LE GROS TITRE ***/

  .monnomen3D{
    position:absolute;
    margin-block-start:0;
    margin-block-end: 0;
    font-family: 'TheBoldFont', serif;
    font-style: oblique;
    font-size: 10vh;
    user-select: none;
    margin-left:8vw;
  }

  #rouge {
    animation: animrouge 0.1s ease 0.9s forwards;
    color:#DE4752;
    left:0;
    top:0;
  }

  @keyframes animrouge {
    100%{
      left:0.2vh;
      top:0.2vh;
      mix-blend-mode: color-dodge;
    }
  }

  #bleu {
    left:0;
    top:0;
    animation: animbleu 0.1s ease 0.9s forwards;
    color:white;
  }

  @keyframes animbleu {
    100%{
      left:-0.2vh;
      top:-0.2vh;
      mix-blend-mode: color-dodge;
      color: #00E7E7;
    }
  }

  /*** -ANIMATION DES BORDURES DU GROS TITRE ***/
  #borduregauchetitre {
    position:absolute;
    width:0.16vw;
    height:5px;
    /*Pour garder les bordures à l'intérieur du div*/
    box-sizing:border-box;
    border-left:0.16vw solid white;
    border-bottom:0.16vw solid white;
    animation:apparitionBorduresTitres 1s ease forwards;
  }

  #borduredroitetitre {
    position:absolute;
    bottom: 0;
    right:0;
    width:0.16vw;
    height:5px;
    box-sizing:border-box;
    border-right:0.16vw solid white;
    border-top:0.16vw solid white;
    animation:apparitionBorduresTitres 1s ease forwards;
  }

  @keyframes apparitionBorduresTitres {
    30%{
      width:0.16vw;
      height:100%;
    }
    100% {
      bottom: auto;
      width:100%;
      height:100%;
    }
  }

  /***   NAVBAR EXTREMEMENT CLASSE  ***/

  #navbar{
    position: fixed;
    width:100vw;
    height: 10vh;
    z-index: 5;
    left:0;
    overflow: hidden;
    background-color: #292929;
    animation:apparitionNavbar 2.5s ease forwards;
    top:-12.2vh;
  }
  @keyframes apparitionNavbar {
    80%{
      top:-90px;
    }
    100%{
      top:0;
    }
  }

  #navbar .monnomen3D{
    height: 6vw;
    font-size: 4vh;
    left:-20vw;
    top:2.5vh;
    animation:apparitionMonNomEn3DDansNavbar 0.5s ease 2.2s forwards;
  }

  @keyframes apparitionMonNomEn3DDansNavbar {
    100%{
      left:1vw;
    }
  }

  #navRouge {
    margin-left:0.1vh;
    margin-top:0.1vh;
    color:#DE4752;
    mix-blend-mode: color-dodge;
  }

  #navBleu {
    margin-left:-0.1vh;
    margin-top:-0.1vh;
    color: #00E7E7;
    mix-blend-mode: color-dodge;
  }



  #navbarIcones{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    top:2vh;
    width:40vh;
  }

  .iconeNavBarContainer{
    position: relative;
    width: 4vh;
    margin-right: 4vh;
  }

  .iconeNavBarContainer:hover{
    cursor: pointer;
  }

  .iconeMenu {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 6vh;
    width: 4vh;
    vertical-align: middle;
    mix-blend-mode: color-dodge;
    transition: 0.2s ease-in;
  }

  .icobleu{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(102%) contrast(103%);
  }

  #icobleuHome{
    animation:animicobleu 0.875s ease 2.625s forwards;
  }

  #icobleuCV{
    animation:animicobleu 0.875s ease 2.725s forwards;
  }

  #icobleuContact{
    animation:animicobleu 0.875s ease 2.825s forwards;
  }

  @keyframes animicobleu {
    25%,75%{
      left:-0.15vh;
      top:-0.15vh;
      filter: invert(65%) sepia(18%) saturate(4430%) hue-rotate(133deg) brightness(104%) contrast(108%);
    }
    100%{
      left:0;
      top:0;
    }
  }

  #iconeHome:hover #icobleuHome{
    filter: invert(65%) sepia(18%) saturate(4430%) hue-rotate(133deg) brightness(104%) contrast(108%);
    transform: translate(-0.15vh,-0.15vh);
  }

  #iconeCV:hover #icobleuCV{
    filter: invert(65%) sepia(18%) saturate(4430%) hue-rotate(133deg) brightness(104%) contrast(108%);
    transform: translate(-0.15vh,-0.15vh);
  }

  #iconeContact:hover #icobleuContact{
    filter: invert(65%) sepia(18%) saturate(4430%) hue-rotate(133deg) brightness(104%) contrast(108%);
    transform: translate(-0.15vh,-0.15vh);
  }

  .icorouge{
    filter: invert(32%) sepia(68%) saturate(1977%) hue-rotate(332deg) brightness(95%) contrast(82%);
  }

  #icorougeCV{
    animation:animicorouge 0.875s ease 2.625s forwards;
  }

  #icorougeContact{
    animation:animicorouge 0.875s ease 2.925s forwards;
  }

  @keyframes animicorouge {
    25%,75%{
      left:0.15vh;
      top:0.15vh;
    }
    100%{
      left:0;
      top:0;
    }
  }

  #iconeHome:hover #icorougeHome{
    transform: translate(0.15vh,0.15vh);
  }

  #iconeCV:hover #icorougeCV{
    transform: translate(0.15vh,0.15vh);
  }

  #iconeContact:hover #icorougeContact{
    transform: translate(0.15vh,0.15vh);
  }

/*** LA PREMIERE DE COUVERTURE ***/

  #premierepartie{
    position:absolute;
    width:80.2vw;
    height:5px;
    top:17.95vw;
    left:9.9vw;
    box-sizing:border-box;
    overflow:hidden;
    margin-bottom: 14vh;
    padding : 0 5.9vw 5.9vw 5.9vw;
    animation:appearPartie 0.75s ease 2.5s forwards;
  }

  #bordureGPP{
    position:absolute;
    right:40.1vw;
    width:0;
    height:0;
    /*Pour garder les bordures à l'intérieur du div*/
    box-sizing:border-box;
    border-top:0 solid #ECE8E1;
    border-left:0 solid #ECE8E1;
    border-bottom:0 solid #ECE8E1;
    animation:appearG 1s ease 2.25s forwards;
  }

  #bordureDPP{
    position:absolute;
    left:40.1vw;
    width:0;
    height:0;
    box-sizing:border-box;
    border-right:0 solid #ECE8E1;
    border-top:0 solid #ECE8E1;
    border-bottom:0 solid white;
    animation:appearD 1s ease 2.25s forwards;
  }
  @keyframes appearPartie{
    100%{
      height:130vh;
      overflow: visible;
    }
  }
  @keyframes appearG {
    0%{
      border-top:0.16vw solid #ECE8E1;
    }
    50%{
      border-top:0.16vw solid #ECE8E1;
      border-left:0.16vw solid #ECE8E1;
      width:40.1vw;
      height:5px;
    }
    90%{
      border-bottom:0 solid #ECE8E1;
    }
    100% {
      border-top:0.16vw solid #ECE8E1;
      border-left:0.16vw solid #ECE8E1;
      border-bottom:0.16vw solid #ECE8E1;
      width:40.1vw;
      height:130vh;
    }
  }

  @keyframes appearD {
    0%{
      border-top:0.16vw solid #ECE8E1;
    }
    50%{
      border-top:0.16vw solid #ECE8E1;
      border-right:0.16vw solid #ECE8E1;
      width:40.1vw;
      height:5px;
    }
    90%{
      border-bottom:0 solid #ECE8E1;
    }
    100% {
      border-top:0.16vw solid #ECE8E1;
      border-right:0.16vw solid #ECE8E1;
      border-bottom:0.16vw solid #ECE8E1;
      height:130vh;
      width:40.1vw;
    }
  }

  #accroche{
    font-family: 'TheBoldFont', serif;
    color : white;
    margin-top : 7vh;
    font-size: 5em;
    opacity: 0;
    left : 500px;
    animation: sliding-slideaccroche 0.5s linear 2.8s forwards;
  }

  @keyframes sliding-slideaccroche{
    100%{
      opacity: 100%;
      margin-top:10vh;
    }

  }

  #slidePP{
    position: absolute;
    width:500vw;
    height:140vh;
    left : 1000vw;
    z-index: 2;
    background-color: #FF332C;
    transform: skewX(110deg);
    margin-top: -75vh;
    animation: sliding-slidePP 1s ease 2.5s forwards;
  }

  @keyframes sliding-slidePP {
    100%{
      left : 15vw;
    }
  }

  #accrochetexte{
    font-family: 'Roboto', serif;
    font-size: 2em;
    z-index: 10;
  }

  #competences{
    position: absolute;
    top:207vh;
    left:11.1vw;
    width:77.8vw;
    height:50vh;

  }

  #soustitre{
    position: absolute;
    background-color: #ECE8E1;
    margin-left: -36.4vw;
    width:36.4vw;
    height:13vh;
    animation: slideSousTitre 0.5s ease-out 0.3s forwards;
  }

  @keyframes slideSousTitre {
    100% {
      margin-left: 0;
    }
  }
  #soustitreContainer{
    overflow: hidden;
    position: absolute;
    width:36.4vw;
    height:13vh;

  }
  #soustitre p{
    position:static;
    margin-top: 2.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'TheBoldFont', serif;
    font-style: oblique;
    font-size: 2.5em;
  }

  .arrowtitre{
    position: absolute;
    height:13vh;
    margin-left: -5vw;
  }

  #arrow1{
    animation: slideArrow 0.4s linear forwards;
  }

  #arrow2{
    animation: slideArrow 0.4s linear 0.1s forwards;
  }

  #arrow3{
    animation: slideArrow 0.4s linear 0.2s forwards;
  }

  @keyframes slideArrow {
    100% {
      margin-left: 36.4vw;
    }
  }